html,body{
    cursor: url(https://cdn.jsdelivr.net/gh/Fuukei/Public_Repository@latest/vision/cursor/normal.cur), auto;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgb(233, 233, 233);
}
.bg{
    width: 100%;
    height: 1024px;
	background-image:url(../img/p0.jpg);
	background-position:center;
    margin: 0 auto;
	background-size:cover;
    position: absolute;
    top: 0px;
	border-radius: 0px 0px 20px 20px;
}
nav{
    width: 95%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
    border-radius: 20px;
	position: fixed;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 10;
	transition-property: backgrund-color;
	transition: 0.5s;
}
nav:hover{
	background-color: rgba(255, 255, 255, 0.668);
	transition: 0.5s;
}
nav .tab ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav .tab ul li{
    float: right;
    display: inline;
    text-align: center;
}
nav .tab ul li a{
    display: block;
    padding: 39.5px;
    font-size: 16px;
    text-decoration: none;
    color: gray;
}
nav .tab ul li a:hover{
	color:yellow;
}
.menu ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.menu ul li{
    text-align: center;
    float: right;
    width: 25%;
}
.menu ul li a{
    color: white;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 15px;
    background-color: rgba(78, 78, 78, 0.562);
    transition: 0.5s;
    transition-property: font-size;
}
.menu ul li a:hover{
    color: sandybrown;
    font-size: 20px;
    transition: 0.5s;
    transition-property: font-size color;
}
@media screen  and (max-width: 800px) {
	nav{
        display: none;
	}
}
@media screen  and (min-width: 800px) {
	.menu{
		display: none;
	}
}
.homedata{
    width: 50%;
    height: 500px;
    position: relative;
	top:200px;
    margin: 0 auto;
}
.homedata div{
    margin: 0 auto;
}
.homedata .headshot{
    width: 130px;
    height: 130px;
	border-radius:10000px;
	background-image: url(https://img.zcool.cn/community/031fcf25f0d3d04a801215aa02cf87c.jpg@160w_160h_1c_1e_1o_100sh.jpg);
	background-size: cover;
	box-shadow:0px 0px 0px 5px rgba(255,255,255,0.500);
    transition: transform 1.5s;
}
.homedata .headshot:hover{
	transform: rotate(360deg);
	transition: all 1.5s;
}
.home_meassage{
	padding: 3px;
	border-radius: 15px;
	background-color: rgba(255,255,255,0.69);
	text-align:center;
	max-width: 400px;
}
.homedata .mg{
	margin-top: 200px;
}
.homedata .mg div{
	margin-top: 20px;
}
.homedata2bg{
    position: absolute;
    top: 1024px;
    width: 100%;
    height: 980px;
    text-align: center;
}
.homedata2{
    margin: 0 auto;
    margin-top: 100px;
    width: 90%;
    height: 800px;
    background-color: rosybrown;
}
.homedata2 .homedata2_meassage{
    margin: 0 auto;
    width: 80%;
}
.homedata2_meassage h1{
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    font-weight: bold;
    padding: 15px 0px 10px 0px;
    color: rgb(83, 83, 83);
}
.homedata2_meassage hr{
    border: none;
    border-top: 2px solid rgb(110, 110, 110);
    margin: 0 auto;
    padding: 0;
    border-radius: 100px;
}
