body,
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* IE 10+ */
}

::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

/* copyright */

footer {
    width: 100%;
    text-align: center;
}

/* 手机壁纸 */

#wallbg {
    background-color: rgb(59, 59, 59);
}

#wall1 {
    margin: 0 auto;
    width: 95%;
    margin-top: 2vh;
}

#wall {
    width: 50%;
    height: 40vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wall2 {
    width: 85%;
    height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
    border-radius: 10px;
    align-items: end;
    display: flex;
}

#wall3 {
    width: 100%;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.829);
    border-radius: 0px 0px 10px 10px;
}

#wall3 p {
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
}

/* 安装KLWP壁纸 */

#klwp1 {
    width: 100%;
    height: calc(100vw * (9/16));
    background-image: url(../imgs/klwp/silk.jpg);
    background-size: cover;
    background-position: center;
}

#klwp2 {
    width: 90%;
    margin: 0 auto;
}

#klwp2 h2 {
    color: white;
}

#klwp2 td {
    color: white;
}

#klwp2 th {
    text-align: left;
    padding: 2vw 5% 2vw 0;
    width: 20%;
}

#klwp2 tr #download {
    width: 30%;
    text-align: right;
}

#klwp2 tr #appname {
    font-weight: bolder;
    font-size: 3.5vw;
}

#klwp2 tr #appdesc {
    font-size: 2.5vw;
    vertical-align: top;
}

#klwp2 tr #download a {
    padding: 2vw 6vw 2vw 6vw;
    background-color: rgb(216, 61, 61);
    color: white;
    border-radius: 1vw;
    text-decoration: none;
    font-size: 2.8vw;
}

#klwp2 img {
    width: 100%;
    border-radius: 10px;
}

/* 主页背景 */

#HOME {
    width: 100%;
    height: calc(100vh - var(--vh-offset, 0px));
    background-image: url(../imgs/bg/wenli.png), url(../imgs/bg/p0.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* 导航栏 */

header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 8%;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-menu li {
    float: left;
    background-color: aqua;
    margin: 0;
    display: flex;
}

.nav-menu li a {
    display: block;
    background-color: aquamarine;
    padding: 0 2vw 0 2vw;
}

/* 主页个人头像资料 */

#opening {
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    width: 50%;
    text-align: center;
}

#message h1 {
    padding: 0;
    margin: 0;
    font-size: 4vw;
    color: rgb(255, 255, 255)
}

/* 文章 */

main {
    width: 80%;
    text-align: left;
    background-color: aqua;
    margin: 0 auto;
    margin-top: 10vh;
}

#ARTICAL {
    width: 100%;
    height: calc(100vh - var(--vh-offset, 0px));
}

#ARTICAL ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}